<h3>Hello from {{ name() }}!</h3>

<!--
Постановка задачи:
 1. Нужно создать TODO компонент с минимальным базовым функционалом: реактивная форма, 2 именованных поля ввода с валидацией (text - "текст задачи" и estimation - "оценка"), кнопка Добавить, список добавленных задач с оценками по времени.
 2. Валидация формы: при невалидном вводе отключается кнопка Добавить и отображается сообщение об ошибке "Обязательное поле" и "Превышен лимит символов".
 3. Уже сейчас известно, что компонент будет использоваться во многих частях приложения, пожалуйста, максимально оптимизируйте его производительность.
 4. Добавьте загрузку и отображение предварительно сохраненных Todo-задач - скачайте содержимое '/assets/api/todos.json' и добавьте в конец списка. Оптимизируйте компонент

Требования к вводу задачи Todo:
 1. Оба поля ввода обязательные, текст - не более 10 символов, оценка - положительное целое число integer, не больше 5.
 2. Сообщения об ошибках:
   - "текст задачи": "Обязательное поле" и "Превышен лимит символов";
   - "оценка": "Обязательное поле", "Введите корректное число".
-->

<!--
 Дополнительные задания:
 1. Переведите компонент Todo на Angular Signals, если этого еще не было сделано.
 2. Теория: Известно, что компонент доступен по роуту '/todo'. Известно, что этот роут будет "большой" по весу (предположим, целых 5мб+). Какие появляются связанные с этим проблемы? Как их можно решить?
 3. Добавьте возможность отключать компонент извне (set disabled state). Когда компонент находится в disabled state - в поля для ввода ничего нельзя вводить, кнопки выключены, а список задач, если в нем что-то есть, должен быть скрыт (не виден пользователю).
 4. Компонент должен уметь сообщать о следующих изменениях:
    3.1 Изменение статуса "корректности" ввода данных - valid, invalid. Т.е. переходы valid->invalid и invalid->valid. В случае, когда "корректность ввода данных" не меняется (valid->valid) - сообщать об этом не нужно.
    3.2 Изменение данных в формате isValid: boolean; text: string, estimation: number, tasks: Task[];
 5. Известно, что компонент планируется дорабатывать и улучшать его функциональность в течение нескольких следующих итераций, несмотря на то, что он выглядит довольно простым на старте разработки. Обновите архитектуру компонента исходя из этих сведений, добавьте state-management.
 6. При фокусировке компонента (focus()) должно быть выделено первое доступное к вводу поле. Учтите, что нативный html-метод фокус должен поддерживаться и следовать такой же логике]
-->
